In [26]:
import pandas as pd
import json
from pandas.io.json import json_normalize

### CSV FILE: cleaning

In [27]:
ds = pd.read_csv("USvideos.csv")

In [28]:
ds.head(20)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...
5,gHZ1Qz0KiKM,17.14.11,2 Weeks with iPhone X,iJustine,28,2017-11-13T19:07:23.000Z,"ijustine|""week with iPhone X""|""iphone x""|""appl...",119180,9763,511,1434,https://i.ytimg.com/vi/gHZ1Qz0KiKM/default.jpg,False,False,False,Using the iPhone for the past two weeks -- her...
6,39idVpFF7NQ,17.14.11,Roy Moore & Jeff Sessions Cold Open - SNL,Saturday Night Live,24,2017-11-12T05:37:17.000Z,"SNL|""Saturday Night Live""|""SNL Season 43""|""Epi...",2103417,15993,2445,1970,https://i.ytimg.com/vi/39idVpFF7NQ/default.jpg,False,False,False,Embattled Alabama Senate candidate Roy Moore (...
7,nc99ccSXST0,17.14.11,5 Ice Cream Gadgets put to the Test,CrazyRussianHacker,28,2017-11-12T21:50:37.000Z,"5 Ice Cream Gadgets|""Ice Cream""|""Cream Sandwic...",817732,23663,778,3432,https://i.ytimg.com/vi/nc99ccSXST0/default.jpg,False,False,False,Ice Cream Pint Combination Lock - http://amzn....
8,jr9QtXwC9vc,17.14.11,The Greatest Showman | Official Trailer 2 [HD]...,20th Century Fox,1,2017-11-13T14:00:23.000Z,"Trailer|""Hugh Jackman""|""Michelle Williams""|""Za...",826059,3543,119,340,https://i.ytimg.com/vi/jr9QtXwC9vc/default.jpg,False,False,False,"Inspired by the imagination of P.T. Barnum, Th..."
9,TUmyygCMMGA,17.14.11,Why the rise of the robots won’t mean the end ...,Vox,25,2017-11-13T13:45:16.000Z,"vox.com|""vox""|""explain""|""shift change""|""future...",256426,12654,1363,2368,https://i.ytimg.com/vi/TUmyygCMMGA/default.jpg,False,False,False,"For now, at least, we have better things to wo..."
10,9wRQljFNDW8,17.14.11,Dion Lewis' 103-Yd Kick Return TD vs. Denver! ...,NFL,17,2017-11-13T02:05:26.000Z,"NFL|""Football""|""offense""|""defense""|""afc""|""nfc""...",81377,655,25,177,https://i.ytimg.com/vi/9wRQljFNDW8/default.jpg,False,False,False,New England Patriots returner Dion Lewis blast...
11,VifQlJit6A0,17.14.11,(SPOILERS) 'Shiva Saves the Day' Talked About ...,amc,24,2017-11-13T03:00:00.000Z,"The Walking Dead|""shiva""|""tiger""|""king ezekiel...",104578,1576,303,1279,https://i.ytimg.com/vi/VifQlJit6A0/default.jpg,False,False,False,Shiva arrives just in time as King Ezekiel att...
12,5E4ZBSInqUU,17.14.11,Marshmello - Blocks (Official Music Video),marshmello,10,2017-11-13T17:00:00.000Z,"marshmello|""blocks""|""marshmello blocks""|""block...",687582,114188,1333,8371,https://i.ytimg.com/vi/5E4ZBSInqUU/default.jpg,False,False,False,WATCH SILENCE MUSIC VIDEO ▶ https://youtu.be/T...
13,GgVmn66oK_A,17.14.11,Which Countries Are About To Collapse?,NowThis World,25,2017-11-12T14:00:00.000Z,"nowthis|""nowthis world""|""world news""|""nowthis ...",544770,7848,1171,3981,https://i.ytimg.com/vi/GgVmn66oK_A/default.jpg,False,False,False,"The world at large is improving, but some coun..."
14,TaTleo4cOs8,17.14.11,SHOPPING FOR NEW FISH!!!,The king of DIY,15,2017-11-12T18:30:01.000Z,"shopping for new fish|""new fish""|""aquarium fis...",207532,7473,246,2120,https://i.ytimg.com/vi/TaTleo4cOs8/default.jpg,False,False,False,Today we go shopping for new fish for some of ...
15,kgaO45SyaO4,17.14.11,The New SpotMini,BostonDynamics,28,2017-11-13T20:09:58.000Z,"Robots|""Boston Dynamics""|""SpotMini""|""Legged Lo...",75752,9419,52,1230,https://i.ytimg.com/vi/kgaO45SyaO4/default.jpg,False,False,False,For more information . . . stay tuned.
16,ZAQs-ctOqXQ,17.14.11,One Change That Would Make Pacific Rim a Classic,Cracked,23,2017-11-12T17:00:05.000Z,"pacific rim|""pacific rim 2""|""pacific rim seque...",295639,8011,638,1256,https://i.ytimg.com/vi/ZAQs-ctOqXQ/default.jpg,False,False,False,"Pacific Rim was so good, we can’t believe they..."
17,YVfyYrEmzgM,17.14.11,How does your body know you're full? - Hilary ...,TED-Ed,27,2017-11-13T16:00:07.000Z,"TED|""TED-Ed""|""TED Education""|""TED Ed""|""Hilary ...",78044,5398,53,385,https://i.ytimg.com/vi/YVfyYrEmzgM/default.jpg,False,False,False,Check out our Patreon page: https://www.patreo...
18,eNSN6qet1kE,17.14.11,HomeMade Electric Airplane,PeterSripol,28,2017-11-13T15:30:17.000Z,"ultralight|""airplane""|""homemade""|""DIY""|""hoverb...",97007,11963,36,2211,https://i.ytimg.com/vi/eNSN6qet1kE/default.jpg,False,False,False,aaaannnd now to fly out of ground effect! The ...
19,B5HORANmzHw,17.14.11,Founding An Inbreeding-Free Space Colony,SciShow,27,2017-11-12T22:00:01.000Z,"SciShow|""science""|""Hank""|""Green""|""education""|""...",223871,8421,191,1214,https://i.ytimg.com/vi/B5HORANmzHw/default.jpg,False,False,False,Thanks to 23AndMe for supporting SciShow. Thes...

In [29]:
ds.dtypes

video_id                  object
trending_date             object
title                     object
channel_title             object
category_id                int64
publish_time              object
tags                      object
views                      int64
likes                      int64
dislikes                   int64
comment_count              int64
thumbnail_link            object
comments_disabled           bool
ratings_disabled            bool
video_error_or_removed      bool
description               object
dtype: object

In [30]:
#no null values
ds.trending_date.isnull().sum()

0

In [31]:
ds["trending_date"] = pd.to_datetime(ds["trending_date"], format = '%y.%d.%m')

#change date order

ds["trending_date"] = pd.to_datetime(ds["trending_date"].dt.strftime("%d/%m/%Y"))

In [32]:
ordered = ds.sort_values(by=["trending_date", "views"], ascending = [True, False])

In [33]:
ordered

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
3400,6ZfuNTqbHE8,2017-01-12,Marvel Studios' Avengers: Infinity War Officia...,Marvel Entertainment,24,2017-11-29T13:26:24.000Z,"marvel|""comics""|""comic books""|""nerdy""|""geeky""|...",56367282,2157727,34077,303178,https://i.ytimg.com/vi/6ZfuNTqbHE8/default.jpg,False,False,False,There was an idea… Avengers: Infinity War. In ...
3581,kTlv5_Bs8aw,2017-01-12,BTS (방탄소년단) 'MIC Drop (Steve Aoki Remix)' Offi...,ibighit,10,2017-11-24T09:00:02.000Z,"BIGHIT|""빅히트""|""방탄소년단""|""BTS""|""BANGTAN""|""방탄""",36857298,2729292,47896,546100,https://i.ytimg.com/vi/kTlv5_Bs8aw/default.jpg,False,False,False,BTS (방탄소년단) 'MIC Drop (Steve Aoki Remix)' Offi...
3589,LgmxMuW6Fsc,2017-01-12,OK Go - Obsession - Official Video,OK Go,10,2017-11-23T20:04:44.000Z,"ok go|""official""|""video""|""music""|""live""|""conce...",7967275,91200,4803,5805,https://i.ytimg.com/vi/LgmxMuW6Fsc/default.jpg,False,False,False,This video has a lot of flashing colors. If y...
3578,dpLrlEBFq-0,2017-01-12,Keeping Up With The Gonzalez’s (Pt. 3) | Lele ...,Lele Pons,23,2017-11-24T18:30:01.000Z,"keeping up with the gonzalezs pt 3|""lele""|""pon...",5827999,223308,8472,13866,https://i.ytimg.com/vi/dpLrlEBFq-0/default.jpg,False,False,False,WATCH DOWNTOWN MUSIC VIDEO ▶ https://youtu.be/...
3417,My4RA5I0FKs,2017-01-12,Liquid Sand Hot Tub- Fluidized air bed,Mark Rober,28,2017-11-28T21:05:56.000Z,"fluidized bed|""liquid sand""|""fluidized sand be...",5809226,174265,4181,11263,https://i.ytimg.com/vi/My4RA5I0FKs/default.jpg,False,False,False,Water filled hot tubs are soooo 2016. \nGo to ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40417,5y0owYFTMno,2018-12-06,Ethan Hawke Knows To Seek Knowledge From Masters,The Late Show with Stephen Colbert,24,2018-06-05T07:53:32.000Z,"The Late Show|""Late Show""|""Stephen Colbert""|""S...",353746,3816,226,436,https://i.ytimg.com/vi/5y0owYFTMno/default.jpg,False,False,False,'First Reformed' star Ethan Hawke knows to sta...
40514,vDyYMcjf500,2018-12-06,The History of Fortnite Battle Royale - Did Yo...,DidYouKnowGaming?,20,2018-05-24T19:00:24.000Z,"fortnite|""fortnite pc""|""fortnite battle royale...",320992,7755,1321,1239,https://i.ytimg.com/vi/vDyYMcjf500/default.jpg,False,False,False,Thanks to Skillshare for sponsoring this video...
40483,BJ2yzCRPonA,2018-12-06,This Season On The Bachelorette,Bachelor Nation on ABC,24,2018-05-29T04:00:02.000Z,"the bachelor|""the bachelorette""|""bachelor nati...",315429,1272,267,386,https://i.ytimg.com/vi/BJ2yzCRPonA/default.jpg,False,False,False,A look ahead at Becca's dramatic journey.
40364,hKNRieaN0ZI,2018-12-06,Shaq's Babysitting Gig Led to His Google Riches,TheEllenShow,24,2018-06-11T13:00:10.000Z,"ellen|""ellen degeneres""|""the ellen show""|""seas...",206975,4233,59,293,https://i.ytimg.com/vi/hKNRieaN0ZI/default.jpg,False,False,False,Shaquille O'Neal explained to Ellen how a brie...
40401,L9FA9U4s3Tg,2018-12-06,Josh Groban - Granted (Official Lyric Video),Josh Groban,10,2018-06-08T04:00:20.000Z,"josh groban|""granted""|""new song""|""new single""|...",161782,7920,122,459,https://i.ytimg.com/vi/L9FA9U4s3Tg/default.jpg,False,False,False,The Official Lyric Video for Josh Groban's new...

### Import Names of Categories and Merge with the Main Dataframe

In [34]:
with open('US_category_id.json', 'r') as f:
      categories = json.load(f)

In [35]:
categories_n = {}
for category in categories['items']:
    categories_n [category['id']] = category['snippet']['title']

In [36]:
type(categories_n)

dict

In [78]:
# import dictionary into a dataframe
categories = pd.DataFrame.from_dict(categories_n, orient = 'index', columns = [['category_name']]).reset_index()
categories

categories.columns = ['category_id','category_name']

categories['category_id'] = categories['category_id'].astype('int')
categories

    category_id          category_name
0             1       Film & Animation
1             2       Autos & Vehicles
2            10                  Music
3            15         Pets & Animals
4            17                 Sports
5            18           Short Movies
6            19        Travel & Events
7            20                 Gaming
8            21          Videoblogging
9            22         People & Blogs
10           23                 Comedy
11           24          Entertainment
12           25        News & Politics
13           26          Howto & Style
14           27              Education
15           28   Science & Technology
16           29  Nonprofits & Activism
17           30                 Movies
18           31        Anime/Animation
19           32       Action/Adventure
20           33               Classics
21           34                 Comedy
22           35            Documentary
23           36                  Drama
24           37                 Family
25           38                Foreign
26           39                 Horror
27           40         Sci-Fi/Fantasy
28           41               Thriller
29           42                 Shorts
30           43                  Shows
31           44               Trailers

In [38]:
#
ds= pd.merge(ds, categories, on = 'category_id', how = 'left')
ds

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,category_name
0,2kyS6SvSYSE,2017-11-14,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...,People & Blogs
1,1ZAPwfrtAFY,2017-11-14,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John...",Entertainment
2,5qpjK5DgCt4,2017-11-14,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...,Comedy
3,puqaWrEC7tY,2017-11-14,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...,Entertainment
4,d380meD0W0M,2017-11-14,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...,Entertainment
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40944,BZt0qjTWNhw,2018-06-14,The Cat Who Caught the Laser,AaronsAnimals,15,2018-05-18T13:00:04.000Z,"aarons animals|""aarons""|""animals""|""cat""|""cats""...",1685609,38160,1385,2657,https://i.ytimg.com/vi/BZt0qjTWNhw/default.jpg,False,False,False,The Cat Who Caught the Laser - Aaron's Animals,Pets & Animals
40945,1h7KV2sjUWY,2018-06-14,True Facts : Ant Mutualism,zefrank1,22,2018-05-18T01:00:06.000Z,[none],1064798,60008,382,3936,https://i.ytimg.com/vi/1h7KV2sjUWY/default.jpg,False,False,False,NaN,People & Blogs
40946,D6Oy4LfoqsU,2018-06-14,I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...,Brad Mondo,24,2018-05-18T17:34:22.000Z,I gave safiya nygaard a perfect hair makeover ...,1066451,48068,1032,3992,https://i.ytimg.com/vi/D6Oy4LfoqsU/default.jpg,False,False,False,I had so much fun transforming Safiyas hair in...,Entertainment
40947,oV0zkMe1K8s,2018-06-14,How Black Panther Should Have Ended,How It Should Have Ended,1,2018-05-17T17:00:04.000Z,"Black Panther|""HISHE""|""Marvel""|""Infinity War""|...",5660813,192957,2846,13088,https://i.ytimg.com/vi/oV0zkMe1K8s/default.jpg,False,False,False,How Black Panther Should Have EndedWatch More ...,Film & Animation
40948,ooyjaVdt-jA,2018-06-14,Official Call of Duty®: Black Ops 4 — Multipla...,Call of Duty,20,2018-05-17T17:09:38.000Z,"call of duty|""cod""|""activision""|""Black Ops 4""",10306119,357079,212976,144795,https://i.ytimg.com/vi/ooyjaVdt-jA/default.jpg,False,False,False,Call of Duty: Black Ops 4 Multiplayer raises t...,Gaming

In [39]:
ds["trending_date"] = pd.to_datetime(ds["trending_date"], format = '%y.%d.%m')

ds["trending_date"] = pd.to_datetime(ds["trending_date"].dt.strftime("%d/%m/%Y"))

In [40]:
type(ds)

pandas.core.frame.DataFrame

## Ideas for comparing changes

In [101]:
share_daily = ds.groupby(['trending_date', 'category_id'], as_index=False).agg({'category_name':'count'})
share_daily.columns = ['trending_date', 'category_id','tot_per_cat']

share_daily_masss = share_daily.groupby(['category_id'], as_index=False).agg({'tot_per_cat':'mean'})

In [102]:
share_daily

     trending_date  category_id  tot_per_cat
0       2017-11-14            1            8
1       2017-11-14            2            4
2       2017-11-14           10           45
3       2017-11-14           15            5
4       2017-11-14           17            9
...            ...          ...          ...
2859    2018-06-14           24           47
2860    2018-06-14           25            2
2861    2018-06-14           26           18
2862    2018-06-14           27            4
2863    2018-06-14           28            6

[2864 rows x 3 columns]

In [55]:
total_per_day = ds.groupby(['trending_date'], as_index=False).agg({'category_name':'count'})
total_per_day.columns = ['trending_date', 'total_per_day']
total_per_day.head()

  trending_date  total_per_day
0    2017-11-14            200
1    2017-11-15            200
2    2017-11-16            200
3    2017-11-17            200
4    2017-11-18            200

In [56]:
share_daily= pd.merge(share_daily, total_per_day, on = 'trending_date', how = 'left')
share_daily.head()

  trending_date  category_id  tot_per_cat  total_per_day
0    2017-11-14            1            8            200
1    2017-11-14            2            4            200
2    2017-11-14           10           45            200
3    2017-11-14           15            5            200
4    2017-11-14           17            9            200

In [60]:
share_daily['share_category_daily'] = share_daily['tot_per_cat'] / share_daily['total_per_day']

In [80]:
share_daily

ds2 = share_daily.pivot(index='category_id', columns ='trending_date' , values ='tot_per_cat')

In [83]:

ds2.fillna(0).astype('int')

trending_date,2017-11-14,2017-11-15,2017-11-16,2017-11-17,2017-11-18,2017-11-19,2017-11-20,2017-11-21,2017-11-22,2017-11-23,...,2018-06-05,2018-06-06,2018-06-07,2018-06-08,2018-06-09,2018-06-10,2018-06-11,2018-06-12,2018-06-13,2018-06-14
category_id,,,,,,,,,,,,,,,,,,,,,
1,8,10,12,10,9,9,10,10,7,12,...,15,15,15,17,16,16,16,16,15,15
2,4,3,3,3,3,4,5,3,2,2,...,0,0,0,0,0,0,0,0,0,0
10,45,37,29,29,34,41,44,49,47,36,...,50,51,52,52,52,51,51,50,51,49
15,5,4,5,4,4,4,5,3,3,2,...,4,4,4,4,4,4,4,4,4,4
17,9,15,20,19,15,15,13,11,9,8,...,6,6,5,6,6,6,6,6,5,5
19,1,2,3,2,1,0,1,2,2,2,...,2,1,1,1,1,1,1,1,1,1
20,1,1,1,2,2,2,2,2,1,1,...,7,7,8,8,8,10,10,18,20,22
22,17,14,11,10,11,11,13,13,16,18,...,10,10,11,11,11,12,12,13,13,13
23,13,18,15,18,18,15,16,16,19,18,...,17,17,16,16,16,17,17,17,15,14
24,45,45,48,49,48,49,47,41,43,45,...,51,50,52,50,51,50,50,48,48,47
25,13,13,13,15,12,9,9,10,14,14,...,5,5,5,3,3,3,3,2,2,2
26,18,17,15,13,14,14,14,18,18,20,...,19,19,18,19,19,18,18,15,16,18
27,9,8,9,10,12,12,8,9,8,9,...,4,5,4,4,5,4,4,4,4,4
28,12,13,16,16,17,15,13,13,11,13,...,9,9,9,9,8,8,8,6,6,6
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [85]:
ds2.to_csv('ds.csv', sep = ';', index = True)

### Ideas for Baseline

In [ ]:
## average of non shoooting-days

In [87]:
mass_shooting_dates = ["2018-05-18", "2018-04-22", "03-04-2018", "2018-03-09", "2018-02-14", "2018-01-28", "2018-01-23","2017-12-31","2017-12-07"]

In [106]:
non_shooting_dates= set(ds["trending_date"]).difference(mass_shooting_dates)

In [113]:
ds_nonShooting = ds2[non_shooting_dates_columns].fillna(0).astype('int')

In [114]:
ds_nonShooting

trending_date,2018-03-22,2018-03-25,2018-04-21,2017-12-25,2017-12-28,2018-05-24,2018-01-30,2018-04-01,2018-06-09,2017-11-23,...,2018-04-28,2018-06-02,2018-02-14,2017-11-26,2017-12-18,2018-02-12,2018-01-06,2017-11-27,2018-05-20,2018-05-10
category_id,,,,,,,,,,,,,,,,,,,,,
1,9,9,14,16,15,10,10,9,16,12,...,10,12,12,13,12,13,12,13,12,10
2,0,0,1,1,3,0,1,1,0,2,...,0,0,5,2,1,7,3,2,1,0
10,30,29,32,32,28,39,38,28,52,36,...,32,46,26,34,31,23,26,31,34,40
15,4,4,4,5,7,3,10,3,4,2,...,4,4,7,3,4,4,9,2,2,4
17,13,12,11,9,9,8,13,12,6,8,...,14,8,11,9,9,10,7,9,9,13
19,3,4,1,5,6,1,0,2,1,2,...,3,1,2,1,0,3,6,2,1,0
20,5,3,4,0,0,7,7,4,8,1,...,5,8,3,1,1,2,3,1,6,5
22,12,15,18,13,15,12,17,17,11,18,...,22,10,15,18,15,16,18,19,13,10
23,18,19,19,20,19,16,12,21,16,18,...,14,18,15,18,18,19,18,22,15,17
24,54,59,43,45,45,59,42,54,51,45,...,50,49,45,47,59,42,38,48,54,56
25,4,5,8,20,18,12,14,5,3,14,...,7,8,19,14,15,16,11,14,11,7
26,27,24,24,16,15,18,18,24,19,20,...,21,20,18,24,20,19,25,22,21,20
27,9,7,7,8,6,6,6,11,5,9,...,8,6,7,5,4,10,11,6,7,7
28,12,10,13,9,13,8,10,9,8,13,...,9,8,14,11,10,14,12,9,13,11
29,0,0,0,0,0,0,1,0,0,0,...,0,1,0,0,1,0,1,0,0,0
43,0,0,1,1,1,1,1,0,0,0,...,1,1,0,0,0,0,0,0,1,0

In [115]:
ds_nonShooting['mean'] = ds_nonShooting.mean(axis=1)

In [116]:
ds_nonShooting['mean']

category_id
1     11.439024
2      1.873171
10    31.570732
15     4.487805
17    10.604878
19     1.960976
20     3.985366
22    15.658537
23    16.863415
24    48.604878
25    12.131707
26    20.224390
27     8.078049
28    11.712195
29     0.278049
43     0.278049
Name: mean, dtype: float64

### example Dates "03-04-2018"

In [118]:
mass_shooting_dateX = ["03-04-2018"]

before_mass_shooting_datX = [mass_shooting_dateX-y for y in range(3)]

TypeError: unsupported operand type(s) for -: 'list' and 'int'